<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{userDetails.image}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Gender: {{userDetails.gender}}</div>
                <h1 class="display-5 fw-bolder">{{userDetails.firstName}} {{userDetails.maidenName}} {{userDetails.lastName}}</h1>
                <div class="fs-5 mb-5">
                    <span> {{userDetails.company.title}}</span>
                </div>
<div>
    Company Name: {{userDetails.company.name}} <br>
    Department :  {{userDetails.company.department}}
</div>               
            </div>
        </div>
    </div>
</section>
